torch
torchvision
fastapi
uvicorn
opencv-python
pillow
langchain
faiss-cpu
sentence-transformers
grad-cam
opencv-python
numpy
scipy
langchain_community
langchain
langchain-text-splitters
langchain_groq
python-dotenv